/* livvic-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/livvic-v13-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/livvic-v13-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* livvic-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/livvic-v13-latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/livvic-v13-latin-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* livvic-500italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Livvic';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/livvic-v13-latin-500italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/livvic-v13-latin-500italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* livvic-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/livvic-v13-latin-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/livvic-v13-latin-600.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* livvic-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/livvic-v13-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/livvic-v13-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* livvic-700italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Livvic';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/livvic-v13-latin-700italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/livvic-v13-latin-700italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ROOT */
:root{
    --header-bg-color: #014E56;
    --main-bg-color: #fff;
    --main-text-color: #fff;
    --main-subtitle-color: #F67E7E;
    --build-bg-color: #012F34;
    --deliver-bg-color: #004047;
    --deliver-name-color: #79C8C7;
    --footer-bg-color: #002529;
}

html{
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: "Livvic", "Arial", sans-serif;
    font-weight: 600;
    background-color: var(--main-bg-color);
}

img{
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container{
    width: 100%;
    max-width: 1150px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

ol,
ul{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

/************** HEADER STYLES START *************/
.site-header{
    padding-top: 73px;
    padding-bottom: 73px;
    background-color: var(--header-bg-color);
}

.site-header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header__wrapper--start{
    display: flex;
    align-items: center;    
}

.site-header__logo{
    margin-right: 80px;
}

.site-header__logo--img{
    width: 160px;
    height: 40px;
}

.sitenav__list{
    display: flex;
}

.sitenav__item:not(:last-child){
    margin-right: 40px;
}

.sitenav__link{
    font-size: 18px;
    line-height: 28px;
    color: var(--main-text-color);
}

.site-header__btn{
    padding: 9px 33px;
    border: 2px solid var(--main-text-color);
    border-radius: 24px;
    font-size: 18px;
    line-height: 28px;
    color: var(--main-text-color);
}
/************** HEADER STYLES END *************/

/************** MAIN STYLES START *************/
.site-main{
    background-color: var(--main-bg-color);
}

/**** HERO SECTION STYLES START ****/
.hero{
    padding-top: 56px;
    padding-bottom: 250px;
    background-color: var(--header-bg-color);
    background-image: url("../images/hero-bg-left.png"),
    url("../images/hero-bg-roght.png");
    background-repeat: no-repeat;
    background-position: calc(50% - 765px) calc(50% - 98px),
    calc(50% + 375px) calc(50% + 256px);
}

.hero-wrapper{
    display: flex;
    justify-content: space-between;
}

.hero-wrapper__start{
    width: 100%;
    max-width: 600px;
}

.hero-title{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 100px;
    line-height: 100px;   
    color: var(--main-text-color);
}

.hero-title__orange{
    color: var(--main-subtitle-color);
}

.hero-wrapper__end{
    width: 100%;
    max-width: 445px;
}

.hero-desc{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 28px;
    color: var(--main-text-color);
}

.hero-desc::before{
    display: block;
    margin-bottom: 79px;
    content: "";
    width: 50px;
    height: 4px;
    background-color: var(--deliver-name-color);
}
/**** HERO SECTION STYLES END ****/
<<<<<<< HEAD
/****** DEL SECTION START *********/
.del{
    padding-top: 140px;
    padding-bottom: 151px;
    background-color: var(--deliver-bg-color);
    background-image: url(../images/del-leftbg.svg), url(../images/BG_right.svg);
    background-repeat: no-repeat;
    background-position: calc(50% - 650px) calc(50% - 389px),
    calc(50% + 650px) calc(50% + 395px);
}
.del-title{
    text-align: center;
    margin-top: 0;
    margin-bottom: 92px;
    margin-right: auto;
    margin-left: auto;
    width: 932px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: var(--main-text-color)
}
.del-subtitle{
    color: var(--deliver-name-color);
}
.del-list{
    display: flex;
    justify-content: space-around;
}
.del-item{
    text-align: center;
}

.del-comments::before{
    z-index: -100px;
    margin-bottom:-20px;
    margin-right: auto;
    margin-left: auto;
    content:"";
    display: block;
    background-image: url(../images/“.png);
    width: 67px;
    height: 56px;
    background-repeat: no-repeat;
    background-size: cover;
}

.del-item:not(:last-child){
    margin-right: 30px;
}
.del-comments{
    margin-top: 0;
    margin-bottom: 24;
    font-size: 15px;
    line-height: 25px;
    color: var(--main-bg-color)
}
.del-names{
    margin-top: 0;
    margin-bottom: 2px;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: var(--deliver-name-color);
}
.del-position{
    display: block;
    margin-top: 0;
    margin-bottom: 32px;
    font-style: italic;
    font-size: 13px;
    line-height: 18px;
    color: var(--main-text-color);
}
.del-img{
    margin-right: auto;
    margin-left: auto;
    display: block;
}
.baha{
    border-radius: 50%;
    border: 2px solid #BAF2F3;
}
/******** DEL SECTION END ***************/
=======
/* •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• */
/* DONE•BY•ALI9AHMAD */
/* BUILDM•STYLES•START */

.buildm {
    padding-top: 140px;
    padding-bottom: 140px;
    background-color: var(--footer-bg-color);
    background-image: url("../images/buildm__bg.png");
    background-repeat: no-repeat;
    background-position: calc(50% + 759px) calc(50% + 220px);
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
    .buildm{
        background-image: url("../images/buildm__bg@2x.png");
    }
}

.buildm__wrapper {
    display: flex;
    justify-content: space-between;
}

.buildm-title {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 125px;
    width: 445px;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: var(--main-text-color);
}

.buildm-title::before {
    display: block;
    content: "";
    margin-bottom: 50px;
    width: 50px;
    height: 4px;
    background-color: var(--main-subtitle-color);
}

.buildm__wrapper--end {
    padding-top: 50px;
}

.buildm__item {
    display: flex;
    width: 540px;
}

.buildm__item:not(:last-child) {
    margin-bottom: 32px;
}

.buildm__item--image {
    width: 72px;
    height: 72px;
    margin-right: 23px;
}

.buildm__item--title {
    margin-top: 0;
    margin-bottom: 16;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: var(--main-subtitle-color);
}

.buildm__item--desc {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 15px;
    line-height: 25px;
    color: var(--main-text-color);
}
/* /BUILDM•STYLES•END */
/* •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• */

>>>>>>> a9fcc6eb069c5946c6891c36cc6ab0505beeed42
/************** MAIN STYLES END *************/